@use "@shared/styles/mixins/DivMixin" as global__div--mixins;
@use "@shared/styles/mixins/BreakpointsMixin" as global_breakpoints__mixin;
@use "@shared/styles/Functions.scss" as global__functions;
.auth_main__con {
  position: relative;
  flex-direction: column-reverse;

  @include global__div--mixins.basic__div();

  .theme_btn__con {
    position: absolute;
    top: global__functions.figma-h-to-percent($figma-py: 50);
    right: 394px;

    @include global_breakpoints__mixin.breakpoint(small) {
      top: global__functions.figma-h-to-percent($figma-py: 32);
      right: 24px;
    }
  }
}
