@use "@shared/styles/mixins/btn__mixins" as global_btn__mixins;
@use "@shared/styles/mixins/div__mixin" as global_div__mixins;
@use "@shared/styles/mixins/breakpoints__mixin" as global_breakpoints__mixins;

//scaled
.main__con {
  @include global_div__mixins.basic__div($width: 1032px, $height: 852px);
  background-color: white;
  border-radius: 66px;
  flex-direction: column;

  form {
    @include global_div__mixins.basic__div($width: 414px, $height: 686px);
    flex-direction: column;

    div:nth-last-child(1) {
      @include global_div__mixins.basic__div($height: 20%);
      flex-direction: column;
      margin-top: 35px;
      text-align: left;

      span {
        margin-left: 19px;
        width: 100%;
        margin-top: 19px;
      }
      a {
        text-decoration: underline;
      }
      button {
        width: 100%;
        height: 72px;
        font-size: 32px;
        background-color: #3461fd;
        color: white;
        box-shadow: 5px 31px 53px 0px rgba(52, 97, 253, 0.4);
        border-radius: 17px;
        margin: 0px;
      }
    }
  }

  @include global_breakpoints__mixins.breakpoint(small) {
    @include global_div__mixins.basic__div($width: 90%, $height: 80%);
    form {
      @include global_div__mixins.basic__div($width: 345px, $height: 572px);
      div:nth-last-child(1) {
        margin-top: 32px;
        span {
          margin-left: 16px;
          margin-top: 16px;
        }
        button {
          border-radius: 14px;
          font-size: 20px;
        }
      }
    }
  }
}

.title__con {
  @include global_div__mixins.basic__div($width: 100%, $height: 20%);
  flex-direction: column;
  text-align: center;

  h1 {
    font-size: 38px;
    line-height: 48px;
  }

  p {
    margin: 19px 0 0;
    font-size: 17px;
    line-height: 26px;
  }
}

.social__btns {
  @include global_div__mixins.basic__div($width: 100%, $height: 12%);
  margin-top: 35px;
}

.or-con {
  @include global_div__mixins.basic__div($width: 100%, $height: 6%);
}

.input_fields__con {
  @include global_div__mixins.basic__div($width: 100%, $height: auto);
  flex-direction: column;
  text-align:left;
  input {
    width: 100%;
    height: 72px;
    padding: 22px 29px;
    margin: 19px 0 0;
    background-color: #f5f9fe;
    border-radius: 17px;
    font-size: 24px;
    &::placeholder {
      font-size: 19px;
      line-height: 29px;
    }

    &:focus {
      outline: none;
    }
  }
  span{
    color: red;
    width:100%;
  }
  @include global_breakpoints__mixins.breakpoint(small) {
    
  }
}

// .main__con {
//   @include global_div__mixins.basic__div($width: 860px, $height: 710px);
//   background-color: white;
//   border-radius: 55px;
//   flex-direction: column;
//   form {
//     @include global_div__mixins.basic__div($width: 345px, $height: 572px);
//     flex-direction: column;
//     div:nth-last-child(1) {
//       @include global_div__mixins.basic__div($height: 20%);
//       flex-direction: column;
//       margin-top: 29px;
//       text-align: left;
//       p {
//         margin-left: 16px;
//         width: 100%;
//         margin-top: 16px;
//       }
//       button {
//         width: 100%;
//         height: 60px;
//         background-color: #3461fd;
//         color: white;
//         box-shadow: 4px 26px 44px 0px rgba(52, 97, 253, 0.4);
//         border-radius: 14px;
//         margin: 0px;
//       }
//     }
//   }

//   @include global_breakpoints__mixins.breakpoint(small) {
//     @include global_div__mixins.basic__div($width: 90%, $height: 80%);
//     form {
//       @include global_div__mixins.basic__div($width: 345px, $height: 572px);
//       div:nth-last-child(1) {
//         margin-top: 32px;
//         p {
//           margin-left: 16px;
//           width: 100%;
//           margin-top: 16px;
//         }
//         button {
//           //   box-shadow: 4px 26px 44px 0px rgba(52, 97, 253, 0.4);
//           border-radius: 14px;
//         }
//       }
//     }
//   }
// }

// .title__con {
//   @include global_div__mixins.basic__div($width: 100%, $height: 20%);
//   flex-direction: column;
//   text-align: center;
//   h1 {
//     font-size: 32px;
//     line-height: 40px;
//   }
//   p {
//     margin: 16px 0 0;
//     font-size: 14px;
//     line-height: 22px;
//   }

//   //   @include global_breakpoints__mixins.breakpoint(small) {
//   //   }
// }

// .social__btns {
//   @include global_div__mixins.basic__div($width: 100%, $height: 10%);
//   margin-top: 29px;
// }

// .or-con {
//   @include global_div__mixins.basic__div($width: 100%, $height: 5%);
// }

// .input_fields__con {
//   @include global_div__mixins.basic__div($width: 100%, $height: auto);
//   flex-direction: column;
//   input {
//     width: 100%;
//     height: 60px;
//     padding: 18px 24px;
//     margin: 16px 0 0;
//     background-color: #f5f9fe;
//     border-radius: 14px;
//     &::placeholder {
//       font-size: 16px;
//       line-height: 24px;
//     }
//     &:focus {
//       outline: none;
//     }
//   }
//   //   @include global_breakpoints__mixins.breakpoint(small) {
//   //   }
// }
