@use "@shared/styles/mixins/btn__mixins" as global_btn__mixins;
@use "@shared/styles/mixins/div__mixin" as global_div__mixins;
@use "@shared/styles/mixins/breakpoints__mixin" as global_breakpoints__mixins;
@use "@shared/styles/Variables" as variables;
@use "@shared/styles/Functions.scss" as global_functions;

.main__con {
  border-radius: 66px;
  flex-direction: column;
  position: relative;
  background-color: variables.$base_background_color__dark;
  color: variables.$base_color__dark;
  @include global_div__mixins.basic__div(
    $height: global_functions.figma-h-to-percent(800),
    $width: 1032px,
    $width-mobile: 90%,
    $height-mobile: 85%
  );
  
  input {
    background-color: variables.$base_input_background_color__light;
    color: variables.$base_input_color;
  }
  :global(html.dark) & {
    background-color: variables.$base_background_color__light;
    color: variables.$base_color__light;
    input {
      background-color: variables.$base_input_background_color__dark;
    }
  }
  form {
    flex-direction: column;
    @include global_div__mixins.basic__div(
      $width: 414px,
      $height: auto,
      $width-mobile: 354px,
      $height-mobile: 95%
    );
    
    div:nth-last-child(1) {
      flex-direction: column;
      margin-top: 32px;
      text-align: left;
      @include global_div__mixins.basic__div($height: 103px);
      

      span {
        margin: 16px 0 0 16px;
        width: 100%;
        color: variables.$base_color__dark;
        :global(html.dark) & {
          color: variables.$base_color__light;
        }
        a {
          text-decoration: underline;
        }
        
      }

      button {
        // box-shadow: 5px 31px 53px 0px rgba(52, 97, 253, 0.4);
        background-color: variables.$base_background_color__dark;
        color: variables.$base_color__dark;
        @include global_btn__mixins.btn(
          $width: 100%,
          $height: 72px,
          $width-mobile: 100%,
          $height-mobile: 60px,
          $margin: 0
        );
        
        :global(html.light) & {
          background-color: variables.$base_background_color__light;
          color: variables.$base_color__light;
        }
      }
    }
  }
  @include global_breakpoints__mixins.breakpoint(small) {
    border-radius: 30px;
  }
}

.title__con {
  flex-direction: column;
  text-align: center;
  @include global_div__mixins.basic__div($width: 100%, $height: 25%);
  
  h3 {
    line-height: 48px;
    font-weight: 600;
  }
  p {
    margin: 19px 0 0;
    line-height: 26px;
  }

  @include global_breakpoints__mixins.breakpoint(small) {
    p {
      margin: 9px 0 0;
      line-height: 26px;
    }
  }
}

.social__btns {
  gap: 20px;
  justify-content: space-between;
  margin: 19px 0;
  min-height: 56px;
  @include global_div__mixins.basic__div(
    $width: 100%,
    $height: 56px,
    $height-mobile: 50px
  );
  button {
    margin-top: 19px;
    background-color: variables.$base_background_color__light;
    color: variables.$base_color__light;
    @include global_btn__mixins.btn($width: 45%, $height: 100%, $margin: 0);
    
    :global(html.dark) & {
      background-color: variables.$base_background_color__dark;
      color: variables.$base_color__dark;
    }
  }
  
  @include global_breakpoints__mixins.breakpoint(small) {
    margin-top: 9px;
  }
}

.or__con {
  margin: 19px 0 19px 0;
  @include global_div__mixins.basic__div($width: 100%, $height: 6%);
  
  @include global_breakpoints__mixins.breakpoint(small) {
    margin: 9px 0;
  }
}

.input_fields__con {
  flex-direction: column;
  text-align: left;
  @include global_div__mixins.basic__div($width: 100%, $height: auto);
  
  input:nth-child(1) {
    margin: 0;
  }
  input {
    max-height: 72px;
    padding: 22px 24px;
    margin: 19px 0 0;
    border-radius: 17px;
    @include global_div__mixins.basic__div($width: 100%, $height: auto);
    
    &::placeholder {
      line-height: 29px;
    }
    &:focus {
      outline: none;
    }
    @include global_breakpoints__mixins.breakpoint(small) {
      margin: 9px 0 0;
      padding: 11px 12px;
      max-height: 60px;
    }
  }
  span {
    width: 100%;
    margin: 8px 0 0 16px;
    :global(html.light) & {
      color: variables.$base_color__dark;
    }
    :global(html.dark) & {
      color: variables.$base_color__light;
    }
  }
  
}
