@use "@shared/styles/Variables.scss" as variables;
@use "@shared/styles/mixins/breakpoints__mixin" as global_breakpoints__mixins;

@mixin btn(
  $width: 211px,
  $height: 44px,
  $width-mobile: 100px,
  $height-mobile: 44px,
  $font-size: variables.$base_font_size_btn__desktop,
  $border-radius: variables.$base_border_radius_btn__desktop,
  $margin: 10px,
  $box-shadow: 0px 15px 20px 0px rgba(52, 97, 253, 0.4)
) {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: $font-size;
  cursor: pointer;
  width: $width;
  height: $height;
  margin: $margin;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: blue;
  color: white;
  // background-color: variables.$base_background_color__light;
  // color: variables.$base_color__light;
  html.dark & {
    // background-color: variables.$base_background_color__dark;
    // color: variables.$base_color__dark;
    background-color: white;
    color: blue;
  }

  @include global_breakpoints__mixins.breakpoint(small) {
    width: $width-mobile;
    height: $height-mobile;
    font-size: variables.$base_font_size_btn__mobile;
    border-radius: variables.$base_border_radius_btn__mobile;
  }
}
// @mixin btn__desktop($width, $height) {
//   @include btn(
//     $width: 211px,
//     $height: 44px,
//     $font-size: variables.$base_font_size_p__desktop,
//     $border-radius: variables.$base_border_radius_btn__desktop,
//     $margin: 10px,
//     $box-shadow: 5px 31px 53px 0px rgba(52, 97, 253, 0.4)
//   );
//   width: $width;
//   height: $height;
// }
// @mixin btn__mobile() {
//   @include btn(
//     $width: 211px,
//     $height: 44px,
//     $font-size: variables.$base_font_size_p__desktop,
//     $border-radius: variables.$base_border_radius_btn__desktop,
//     $margin: 10px,
//     $box-shadow: 5px 31px 53px 0px rgba(52, 97, 253, 0.4)
//   );
// }
