@mixin btn() {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color:#1877F2;
  font-size:18px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.09);
  width: 211px;
  height: 44px;
  margin: 10px;
  border-radius: 20px ;
}
