@use "@shared/styles/Variables.scss" as variables;
@mixin btn(
  $width: 211px,
  $height: 44px,
  $font-size: variables.$base_font_size_p__desktop,
  $border-radius: 20px,
  $margin: 10px
) {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: $font-size;
  cursor: pointer;
  width: $width;
  height: $height;
  margin: $margin;
  border-radius: $border-radius;
  html.dark & {
    background-color: white;
    color: blue;
  }
  background-color: blue;
  color: white;
}


// add adaptive styles