@use "@shared/styles/Variables.scss" as variables;
@use "@shared/styles/mixins/BreakpointsMixin.scss" as global__breakpointsMixin;

%btn {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@mixin btn(
  $width: 100%,
  $height: 100%,
  $width-mobile: $width,
  $height-mobile: $height,
  $font-size: variables.$baseFontSizeBtnDesktop,
  $border-radius: variables.$baseBorderRadiusBtnDesktop,
) {
  // background-color: variables.$baseBackgroundColorLight;
  // color: variables.$baseColorLight;
  // :global(html.dark) & {
  //   background-color: variables.$baseBackgroundColorDark;
  //   color: variables.$baseColorDark;
  // }

  font-size: $font-size;
  width: $width;
  height: $height;
  border-radius: $border-radius;

  
  @extend %btn;

  @include global__breakpointsMixin.breakpoint(small) {
    width: $width-mobile;
    height: $height-mobile;
    font-size: variables.$baseFontSizeBtnMobile;
    border-radius: variables.$baseBorderRadiusBtnMobile;
  }
}
