@use "@shared/styles/Variables.scss" as variables;
@use "@shared/styles/mixins/BreakpointsMixin.scss" as global__breakpointsMixin;

%btn {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@mixin btn(
  $width: 100%,
  $height: 100%,
  $width-mobile: $width,
  $height-mobile: $height,
  $font-size: variables.$base_font_size_btn__desktop,
  $border-radius: variables.$base_border_radius_btn__desktop,
) {
  // background-color: variables.$base_background_color__light;
  // color: variables.$base_color__light;
  // :global(html.dark) & {
  //   background-color: variables.$base_background_color__dark;
  //   color: variables.$base_color__dark;
  // }

  font-size: $font-size;
  width: $width;
  height: $height;
  border-radius: $border-radius;

  
  @extend %btn;

  @include global__breakpointsMixin.breakpoint(small) {
    width: $width-mobile;
    height: $height-mobile;
    font-size: variables.$base_font_size_btn__mobile;
    border-radius: variables.$base_border_radius_btn__mobile;
  }
}
