@use "@shared/styles/Variables.scss" as variables;
@use "@shared/styles/mixins/BreakpointsMixin.scss" as global__breakpoints--mixin;

%btn{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@mixin btn(
  $width: 211px,
  $height: 44px,
  $width-mobile: $width,
  $height-mobile: $height,
  $font-size: variables.$base_font_size_btn__desktop,
  $border-radius: variables.$base_border_radius_btn__desktop,
  $margin: 10px,
) {
  @extend %btn;
  font-size: $font-size;
  width: $width;
  height: $height;
  margin: $margin;
  border-radius: $border-radius;

  @include global__breakpoints--mixin.breakpoint(small) {
    width: $width-mobile;
    height: $height-mobile;
    font-size: variables.$base_font_size_btn__mobile;
    border-radius: variables.$base_border_radius_btn__mobile;
  }
}

