@use "@shared/styles/mixins/BreakpointsMixin.scss" as
  global__breakpointsMixin;
@use "@shared/styles/Variables.scss" as variables;

%div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin basic__div(
  $width: 100%,
  $height: 100%,
  $width-mobile: $width,
  $height-mobile: $height
) {
  @extend %div;
  width: $width;
  height: $height;

  h1 {
    font-size: variables.$baseFontSizeH1Desktop;
    // line-height: variables.$baseFontSizeH1LineHeightDesktop;
  }

  h3 {
    font-size: variables.$baseFontSizeH3Desktop;
    // line-height: variables.$baseFontSizeH3LineHeightDesktop;
  }

  p,a {
    font-size: variables.$baseFontSizePDesktop;
    // line-height: variables.$baseFontSizePLineHeightDesktop;
  }
  

  input {
    font-size: variables.$baseFontSizePDesktop;
  }

  @include global__breakpointsMixin.breakpoint(small) {
    width: $width-mobile;
    height: $height-mobile;

    h1 {
      font-size: variables.$baseFontSizeH1Mobile;
      // line-height: variables.$baseFontSizeH1LineHeightMobile;
    }

    h3 {
      font-size: variables.$baseFontSizeH3Mobile;
      // line-height: variables.$baseFontSizeH3LineHeightMobile;
    }

    p,a {
      font-size: variables.$baseFontSizePMobile;
      // line-height: variables.$baseFontSizePLineHeightMobile;
    }

    input {
      font-size: variables.$baseFontSizePMobile;
    }
  }
}
