@use "@shared/styles/mixins/DivMixin.scss" as global__divMixin;
@use "@shared/styles/mixins/BtnMixin" as global__btnMixin;
@use "@shared/styles/mixins/BreakpointsMixin.scss" as global__breakpointsMixin;
@use "@shared/styles/Variables.scss" as variables;

.onBoarding {
  justify-content: flex-end;
  position: relative;
  @include global__divMixin.basic__div($width: 100vw, $height: 100vh);
  @include global__breakpointsMixin.breakpoint(small) {
    justify-content: center;
  }

  .backImg {
    width: 100%;
    z-index: -1;
    height: 100%;
  }

  .inner {
    background-color: variables.$base_background_color__light;
    position: relative;
    flex-direction: column;
    border-radius: 5%;

    @include global__divMixin.basic__div(
      $width: 45%,
      $height: 95%,
      $width-mobile: 90%,
      $height-mobile: 80%
    );

    :global(html.dark) & {
      background-color: variables.$base_background_color__dark;
    }

    // border-top-left-radius: 5%;
    // border-bottom-left-radius: 5%;

    .themeBtnContainer {
      position: absolute;
      top: 3%;
      right: 2.5%;
      @include global__divMixin.basic__div($width: 50px, $height: 24px);
    }

    .skipBtnContainer {
      position: absolute;
      top: 10%;
      right: 2%;
      button {
        box-shadow: 0px 15px 20px 0px rgba(52, 97, 253, 0.4);
        background-color: variables.$base_background_color__dark;
        color: variables.$base_color__dark;

        :global(html.dark) & {
          box-shadow: 0px 15px 20px 0px rgba(255, 255, 255, 0.4);
          background-color: variables.$base_background_color__light;
          color: variables.$base_color__light;
        }
      }

      @include global__divMixin.basic__div($width: 50px, $height: 24px);
    }

    .logo {
      width: 120px;
      height: 130px;
    }

    .textContainer {
      flex-direction: column;
      text-align: center;
      margin: 32px 0 24px 0;
      font-weight: 700;

      @include global__divMixin.basic__div(
        $width: 540px,
        $height: 216px,
        $width-mobile: 100%,
        $height-mobile: 131px
      );

      h3 {
        line-height: 54px;
      }
    }

    .btnsContainer {
      justify-content: space-around;
      button {
        width: 40%;
        background-color: variables.$base_background_color__dark;
        color: variables.$base_color__dark;

        box-shadow: 0px 15px 20px 0px rgba(52, 97, 253, 0.4);
        :global(html.dark) & {
          box-shadow: 0px 15px 20px 0px rgba(255, 255, 255, 0.4);
          background-color: variables.$base_background_color__light;
          color: variables.$base_color__light;
        }
      }

      @include global__divMixin.basic__div(
        $width: 539px,
        $height: 44px,
        $width-mobile: 300px,
        $height-mobile: 37px
      );
    }

    @include global__breakpointsMixin.breakpoint(small) {
      position: absolute;
      border-radius: 40px;

      &__logo {
        width: 70px;
        height: 80px;
      }

      &__themeBtnContainer {
        position: absolute;
        top: 5%;
        right: 2.5%;
      }

      &__textContainer {
        margin: 25px 0 25px 0;
        text-align: center;

        h3 {
          // font-size: 24px;
          line-height: 36px;
        }
      }
    }
  }
}
