@use "@shared/styles/mixins/div__mixin.scss" as global__div-mixins;
@use "@shared/styles/mixins/btn__mixins.scss" as global__btn-mixins;
@use "@shared/styles/mixins/breakpoints__mixin.scss" as
  global__breakpoints-mixins;
@use "@shared/styles/Variables.scss" as variables;
.main__con {
  @include global__div-mixins.basic__div();
  justify-content: flex-end;
  position: relative;
  .theme_btn__con {
    position: absolute;
    top: 6%;
    right: 2.5%;
  }

  @include global__breakpoints-mixins.breakpoint(small) {
    .theme_btn__con {
      position: absolute;
      top: 5%;
      right: 4.5%;
    }
  }
}
.back__img {
  width: 100%;
  z-index: -1;
  height: 100%;
}
.main__con__inner {
  @include global__div-mixins.basic__div(
    $width: auto,
    $height: auto,
    $width-mobile: 90%,
    $height-mobile: 80%
  );
  position: relative;
  flex-direction: column;
  .logo {
    width: 120px;
    height: 130px;
  }
  // text container
  div:nth-of-type(1) {
    @include global__div-mixins.basic__div(
      $width: 540px,
      $height: 216px,
      $width-mobile: 100%,
      $height-mobile: 131px
    );
    flex-direction: column;
    text-align: center;
    margin: 32px 0 24px 0;
    font-weight: 700;
    h3{
      line-height: 54px;
    }
  }
  // buttons container
  div:nth-of-type(2) {
    @include global__div-mixins.basic__div(
      $width: 539px,
      $height: 44px,
      $width-mobile: 300px,
      $height-mobile: 37px
    );
    button {
      @include global__btn-mixins.btn($box-shadow: none);
      background-color: rgba(255, 255, 255, 0.09);
      color: variables.$base_color__light;
      :global(html.dark) & {
        color: variables.$base_color__dark ;
      }
    }
  }

  @include global__breakpoints-mixins.breakpoint(small) {
    position: absolute;
    right: 5%;
    .logo {
      width: 70px;
      height: 80px;
    }
    // text container
    div:nth-of-type(1) {
      margin: 25px 0 25px 0;
      text-align: center;
      h3 {
        // font-size: 24px;
        line-height: 36px;
      }
    }
  }
}

.skip__btn {
  @include global__btn-mixins.btn(
    $width: auto,
    $height: 3%,
    $width-mobile: auto,
    $height-mobile: 4%,
    $box-shadow: none,
    $margin:0
  );
  padding:11px 33px;
  background-color: rgba(255, 255, 255, 0.09) !important;
  color: variables.$base_color__light;
  :global(html.dark) & {
    color:variables.$base_color__dark;
  }
  position: absolute;
  top: 10%;
  right: 2%;
}
