@use "@shared/styles/mixins/DivMixin" as global__divMixin;
@use "@shared/styles/mixins/BtnMixin" as global__btnMixin;
@use "@shared/styles/mixins/BreakpointsMixin" as global__breakpointsMixin;
@use "@shared/styles/Functions.scss" as global__functions;
@use "@shared/styles/Variables.scss" as variables;
.personalization {
  position: relative;
  flex-direction: column-reverse;

  @include global__divMixin.basic__div($width: 100vw, $height: 100vh);

  .themeBtnContainer {
    position: absolute;
    top: global__functions.figma-h-to-percent($figma-py: 10);
    right: 10px;
    @include global__divMixin.basic__div($width: 50px, $height: 24px);

    @include global__breakpointsMixin.breakpoint(small) {
      top: global__functions.figma-h-to-percent($figma-py: 32);
      right: 24px;
    }
  }

  .formContainer {
    border-radius: 66px;
    flex-direction: column;
    position: relative;
    background-color: variables.$baseBackgroundColorDark;
    color: variables.$baseColorDark;
    padding: 5%;
    max-height: global__functions.figma-h-to-percent(800);
    @include global__divMixin.basic__div(
      $height: auto,
      $width: 1032px,
      $width-mobile: 100%,
      $height-mobile: 85%
    );

    :global(html.dark) & {
      background-color: variables.$baseBackgroundColorLight;
      color: variables.$baseColorLight;
    }

    form {
      flex-direction: column;

      .titleContainer {
        flex-direction: column;
        text-align: center;
        margin: 19px 0;
        max-height: 30%;
        @include global__divMixin.basic__div($width: 100%, $height: auto);

        h3 {
          line-height: 48px;
          font-weight: 600;
        }

        p {
          margin: 19px 0 0;
          line-height: 26px;
        }

        @include global__breakpointsMixin.breakpoint(small) {
          p {
            margin: 9px 0 0;
            line-height: 26px;
          }
        }
      }

      .socialBtns {
        gap: 20px;
        justify-content: space-between;
        // margin: 19px 0 19px 0;
        max-height: 70px;
        @include global__divMixin.basic__div($width: 100%, $height: auto);

        button {
          box-shadow: 0px 15px 20px 0px rgba(255, 255, 255, 0.4);
          padding: 16px;
          width: 45%;
          background-color: variables.$baseBackgroundColorLight;
          color: variables.$baseColorLight;
          :global(html.dark) & {
            box-shadow: 0px 15px 20px 0px rgba(52, 97, 253, 0.4);
            background-color: variables.$baseBackgroundColorDark;
            color: variables.$baseColorDark;
          }
        }

        @include global__breakpointsMixin.breakpoint(small) {
          // margin: 9px 0;
          max-height: 50px;
        }
      }

      .orContainer {
        margin: 19px 0 19px 0;

        @include global__divMixin.basic__div($width: 100%, $height: 6%);

        @include global__breakpointsMixin.breakpoint(small) {
          margin: 9px 0;
        }
      }

      .inputFieldsContainer {
        flex-direction: column;
        gap: 19px;
        text-align: left;

        @include global__divMixin.basic__div($width: 100%, $height: auto);

        input:nth-child(1) {
          margin: 0;
        }
        input[type="radio"] {
          width: auto;
        }

        div {
          flex-direction: column;
          div:has(input[type="radio"]) {
            flex-direction: row-reverse;
            gap: 1rem;
          }
        }
      }

      .btnsContainer {
        flex-direction: column;
        margin-top: 32px;
        text-align: left;
        @include global__divMixin.basic__div($height: auto);

        button {
          box-shadow: 0px 15px 20px 0px rgba(255, 255, 255, 0.4);
          height: 70px;
          background-color: variables.$baseBackgroundColorLight;
          color: variables.$baseColorLight;
          :global(html.dark) & {
            box-shadow: 0px 15px 20px 0px rgba(52, 97, 253, 0.4);
            background-color: variables.$baseBackgroundColorDark;
            color: variables.$baseColorDark;
          }

          @include global__breakpointsMixin.breakpoint(small) {
            height: 50px;
          }
        }
      }

      @include global__divMixin.basic__div(
        $width: 414px,
        $height: 95%,
        $width-mobile: 354px
      );
      @include global__breakpointsMixin.breakpoint(small) {
        border-radius: 30px;
      }
    }
  }
}
