$base_accent_color: yellow;
$base_input_color:blue;

/*theme colors*/
$base_background_color__light: white;
$base_color__light: blue;

$base_background_color__dark: blue;
$base_color__dark: white;

$base_input_background_color__dark: #f5f9fe;
$base_input_background_color__light:white;


/*font-sizes*/
/*text*/
$base_font_size_big_title__desktop: 48px;
$base_font_size_title__desktop: 38px;
$base_font_size_p__desktop: 20px;

$base_font_size_title__mobile: 24px;
$base_font_size_p__mobile: 14px;

/*btn*/
$base_font_size_btn__desktop: 28px;
$base_font_size_btn__mobile: 24px;