$base_accent_color: yellow;
$base_input_color:#1877F2;

/*theme colors*/
$base_background_color__light: white;
$base_color__light: #1877F2;

$base_background_color__dark: #1877F2;
$base_color__dark: white;

$base_input_background_color__dark: #f5f9fe;
$base_input_background_color__light:white;


/*font-sizes*/
/*text*/
$base_font_size_h1__desktop: 48px;
$base_font_size_h3__desktop: 48px;
$base_font_size_p__desktop: 20px;

$base_font_size_h1__mobile: 40px;
$base_font_size_h3__mobile: 36px;
$base_font_size_p__mobile: 18px;

$base_font_size_h1_line_height__desktop: 51px;
$base_font_size_h3_line_height__desktop: 72px;
$base_font_size_p_line_height__desktop: 40px;

$base_font_size_h1_line_height__mobile: 40px;
$base_font_size_h3_line_height__mobile: 54px;
$base_font_size_p_line_height__mobile: 40px;


/*btn*/
$base_font_size_btn__desktop: 20px;
$base_font_size_btn__mobile: 23px;

/*border radius*/
/*btn*/
$base_border_radius_btn__desktop: 20px;
$base_border_radius_btn__mobile: 14px;

/*div*/

