$baseAccentColor: yellow;
$baseInputColor:#1877F2;

/*theme colors*/
$baseBackgroundColorLight: white;
$baseColorLight: #1877F2;

$baseBackgroundColorDark: #1877F2;
$baseColorDark: white;

$baseInputBackgroundColorDark: #f5f9fe;
$baseInputBackgroundColorLight:white;


/*font-sizes*/
/*text*/
$baseFontSizeH1Desktop: 48px;
$baseFontSizeH3Desktop: 48px;
$baseFontSizePDesktop: 20px;

$baseFontSizeH1Mobile: 40px;
$baseFontSizeH3Mobile: 36px;
$baseFontSizePMobile: 18px;

$baseFontSizeH1LineHeightDesktop: 51px;
$baseFontSizeH3LineHeightDesktop: 72px;
$baseFontSizePLineHeightDesktop: 40px;

$baseFontSizeH1LineHeightMobile: 40px;
$baseFontSizeH3LineHeightMobile: 54px;
$baseFontSizePLineHeightMobile: 40px;


/*btn*/
$baseFontSizeBtnDesktop: 20px;
$baseFontSizeBtnMobile: 23px;

/*border radius*/
/*btn*/
$baseBorderRadiusBtnDesktop: 20px;
$baseBorderRadiusBtnMobile: 14px;
