@use "@shared/styles/Variables.scss" as variables;
body {
  // padding: 1.5%;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: variables.$base_background_color__light;
  color: variables.$base_color__light;
  html.dark & {
    background-color: variables.$base_background_color__dark;
    color: variables.$base_color__dark;
  }
}
