@use "@shared/styles/Variables.scss" as variables;
body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: variables.$base_background_color__light;
  color: variables.$base_color__light;
  overflow-x: hidden;
  
  html.dark & {
    background-color: variables.$base_background_color__dark;
    color: variables.$base_color__dark;
  }
}
