@use "@shared/styles/mixins/DivMixin.scss" as global__divMixin;
@use "@shared/styles/mixins/BreakpointsMixin.scss" as
  global__breakpointsMixin;
.wellcome {
  text-align: center;
  font-weight: bold;

  @include global__divMixin.basic__div($width: 100vw, $height: 100vh);

  .logo {
    animation: logo__animation 2s ease-in-out 1 forwards;
    z-index: 2;
    width: 300px;
    height: 300px;

    @include global__breakpointsMixin.breakpoint(small) {
      width: 100px;
      height: 100px;
      animation-name: native-logo__animation;
    }
  }

  & > div {
    flex-direction: column;
    animation: main_text__animation 3s ease-in-out 1 forwards;

    @include global__divMixin.basic__div($width: auto, $height: auto);

    h1 {
      line-height: 126px;
      font-size: 84px;
    }

    h3 {
      line-height: 72px;
      font-size: 38px;
    }

    @include global__breakpointsMixin.breakpoint(small) {
      // flex-direction: column;
      width: 100%;
      animation-name: native-main_text__animation;

      h1 {
        line-height: 51px;
        font-size: 54px;
      }

      h3 {
        line-height: 27px;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }

  @include global__breakpointsMixin.breakpoint(small) {
    flex-direction: column;
    width: 90%;
    height: 80%;
  }
}

@keyframes logo__animation {
  from {
    scale: 0.3%;
    transform: translateX(0%);
  }
  to {
    transform: translateX(-30%);
  }
}
@keyframes main_text__animation {
  0% {
    opacity: 0;
    transform: translateX(-70%);
  }
  70% {
    opacity: 0;
    transform: translateX(-70%);
  }
  100% {
    opacity: 1;
    transform: translateX(20%);
  }
}

@keyframes native-logo__animation {
  from {
    transform: translateY(20%);
    scale: 0.3%;
  }
  to {
    transform: translateY(-30%);
  }
}
@keyframes native-main_text__animation {
  0% {
    opacity: 0;
    transform: translateY(-70%);
  }
  70% {
    opacity: 0;
    transform: translateY(-70%);
  }
  100% {
    opacity: 1;
    transform: translateY(20%);
  }
}
