@use "@shared/styles/mixins/DivMixin" as global__divMixin;
@use "@shared/styles/mixins/BreakpointsMixin" as global__breakpointsMixin;
@use "@shared/styles/Variables.scss" as variables;

.cardDetailPage {
  flex-direction: column;
  color: variables.$baseColorLight;
  :global(html.dark) & {
    color: variables.$baseColorDark;
  }
  @include global__divMixin.basic__div();
  .contentWrapper {
    margin-top: 19px;
    gap: 2rem;
    flex-direction: column;
    @include global__divMixin.basic__div();
    width: clamp(300px, 90%, 1200px);
    .imageContainer {
      position: relative;
      border-radius: 22px;
      overflow: hidden;
      min-height: 400px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transform: scale(1);
      transition: transform 0.3s ease-in-out;
      .image {
        object-fit: cover;
        object-position: center;
      }
      &:hover {
        transform: scale(1.03);
        transition: transform 0.3s ease-in-out;
      }
      @include global__divMixin.basic__div($height: 30%);
    }

    .decriptionWrapper {
      flex-direction: column;
      gap: 1.5rem;

      .header {
        flex-direction: column;
        gap: 1rem;

        .title {
          font-size: 2rem;
          font-weight: 700;
          margin: 0;
          width: 100%;
        }

        // .tags {
        //   display: flex;
        //   flex-wrap: wrap;
        //   gap: 0.5rem;

        //   .tag {
        //     background-color: #f0f0f0;
        //     padding: 0.25rem 0.75rem;
        //     border-radius: 50px;
        //     font-size: 0.875rem;
        //     color: #666;
        //   }
        // }

        @include global__divMixin.basic__div();
      }
      .description {
        p {
          font-size: 1rem;
          line-height: 1.6;
          margin: 0;
          opacity: 0.8;
        }
        justify-content: start;
        @include global__divMixin.basic__div();
      }
      @include global__divMixin.basic__div();
    }
  }
}
