@use "@shared/styles/mixins/DivMixin" as global__divMixin;
@use "@shared/styles/mixins/BreakpointsMixin" as global__breakpointsMixin;
@use "@shared/styles/Variables.scss" as variables;

.category {
  align-items: start;
  justify-content: start;
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 100%;
  grid-template-areas:
    "title"
    "content";
  @include global__divMixin.basic__div($height: 900px);
  @include global__breakpointsMixin.breakpoint(small) {
    grid-template-rows: 10% 90%;
  }
  .titleContainer {
    grid-area: title;
    justify-content: start;
    align-items: center;
    @include global__divMixin.basic__div();
   
  }
  .contentWrapper {
    display: grid;
    column-gap: 10%;
    grid-template-columns: 20% 70%;
    grid-template-rows: 10% 80%;
    grid-area: content;
    grid-template-areas:
      "controls  controls"
      "filter    carts";
    @include global__divMixin.basic__div();
    .controlsBar {
      grid-area: controls;
      justify-content: end;
      position: relative;
      @include global__divMixin.basic__div($height: auto);
    }
    .filterContainer {
      grid-area: filter;
      align-items: start;
      @include global__divMixin.basic__div();
    }
    .cartsContainer {
      grid-area: carts;
      row-gap: 5%;
      column-gap: 2%;
      flex-wrap: wrap;
      justify-content: start;
      @include global__divMixin.basic__div();
    }
    @include global__breakpointsMixin.breakpoint(small) {
      grid-template-areas:
      "controls  controls"
      "carts    carts";
      .filterContainer{
        display: none;
      }
      .cartsContainer{
        justify-content: center;
      }
      
    }
  }
}
