@use "@shared/styles/mixins/DivMixin" as global__divMixin;
@use "@shared/styles/Variables.scss" as variables;
@use "@shared/styles/mixins/BtnMixin" as global__btnMixin;
@use "@shared/styles/mixins/BreakpointsMixin" as global__breakpointsMixin;

.filterWrapper {
  align-items: start;
  justify-content: start;
  @include global__divMixin.basic__div();

  .btnWrapper {
    display: none;
    position: absolute;
    bottom: 100%;
    border-radius: 0.5rem;
    padding:  0.5rem;
    border-width: 2px;
    border-style: solid;
    border-color: variables.$base_background_color__dark;

    :global(html.dark) & {
      border-color: variables.$base_background_color__light;
    }
    @include global__divMixin.basic__div(auto);

    @include global__breakpointsMixin.breakpoint(small) {
      display: flex;
    }
  }
  .filter {
    z-index: 1000;
    flex-direction: column;
    padding: 1.5rem 1rem;
    gap: 1.25rem;
    align-items: start;
    justify-content: flex-start;
    background-color: variables.$base_background_color__dark;
    color: variables.$base_color__dark;
    :global(html.dark) & {
      background-color: variables.$base_background_color__light;
      color: variables.$base_color__light;
    }
    border-radius: 0.5rem;
    @include global__divMixin.basic__div($height: auto);
    .item {
      flex-direction: column;
      justify-content: flex-start;
      padding-bottom: 1rem;
      border-bottom: 1px solid variables.$base_background_color__light;
      :global(html.dark) & {
        border-bottom-color: variables.$base_background_color__dark;
      }
      @include global__divMixin.basic__div($height: auto);

      &:last-child {
        border-bottom: none;
      }

      h6 {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0.75rem;
      }

      .optionsCon {
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.5rem;
        @include global__divMixin.basic__div();

        .option {
          justify-content: flex-end;
          gap: 0.5rem;
          @include global__divMixin.basic__div($height: auto);
          div {
            div:has(input[type="checkbox"]) {
              justify-content: space-between;
              input {
                width: auto;
              }
            }
          }
        }
      }
    }

    .buttonsCon {
      display: flex;
      gap: 1rem;
      margin-top: 0.5rem;
      @include global__divMixin.basic__div($height: auto);
      .btn {
        padding:  0.2rem 0.5rem;

        background-color: variables.$base_background_color__light;
        color: variables.$base_color__light;
        :global(html.dark) & {
          background-color: variables.$base_background_color__dark;
          color: variables.$base_color__dark;
        }
        font-size: 1rem;
        font-weight: 600;
        @include global__btnMixin.btn($width: auto);
      }
    }
  }
  @include global__breakpointsMixin.breakpoint(small) {
    position: absolute;
    top: 100%;
  }
}
@include global__breakpointsMixin.breakpoint(small) {
}
