@use "@shared/styles/mixins/DivMixin" as global__divMixin;
@use "@shared/styles/Variables.scss" as variables;
@use "@shared/styles/mixins/BtnMixin" as global__btnMixin;
@use "@shared/styles/mixins/BreakpointsMixin" as global__breakpointsMixin;

.filter {
  flex-direction: column;
  padding: 1.5rem 1rem;
  gap: 1.25rem;
  justify-content: flex-start;
  background-color: variables.$base_background_color__dark;
  color: variables.$base_color__dark;
  :global(html.dark) & {
    background-color: variables.$base_background_color__light;
    color: variables.$base_color__light;
  }
  border-radius: 0.5rem;
  @include global__divMixin.basic__div($height: auto);

  .item {
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 1rem;
    border-bottom: 1px solid variables.$base_background_color__light;
    :global(html.dark) & {
      border-bottom-color: variables.$base_background_color__dark;
    }
    @include global__divMixin.basic__div($height: auto);

    &:last-child {
      border-bottom: none;
    }

    h6 {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0.75rem;
    }

    .optionsCon {
      flex-direction: column;
      justify-content: flex-start;
      gap: 0.5rem;
      @include global__divMixin.basic__div();

      .option {
        justify-content: flex-end;
        gap: 0.5rem;
        @include global__divMixin.basic__div($height: auto);
        div {
          div:has(input[type="checkbox"]) {
            justify-content: space-between;
            input {
              width: auto;
            }
          }
        }
      }
    }
  }

  .buttonsCon {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
    @include global__divMixin.basic__div($height: auto);
    .btn {
      background-color: variables.$base_background_color__light;
      color: variables.$base_color__light;
      :global(html.dark) & {
        background-color: variables.$base_background_color__dark;
        color: variables.$base_color__dark;
      }
      font-size: 1rem;
      font-weight: 600;
      @include global__btnMixin.btn($width: 30%);
    }
  }

  @include global__breakpointsMixin.breakpoint(small) {
    
  }
}
