@use "@shared/styles/mixins/DivMixin" as global__divMixin;
@use "@shared/styles/Variables.scss" as variables;
@use "@shared/styles/mixins/BreakpointsMixin.scss" as global__breakpointsMixin;

.nav {
  padding: 33px 37px;
  justify-content: space-between;
  border-radius: 22px;
  position: sticky;
  top: 0.5%;
  z-index: 9999;
  background-color: variables.$base_background_color__dark;
  color: variables.$base_color__dark;
  :global(html.dark) & {
    background-color: variables.$base_background_color__light;
    color: variables.$base_color__light;
  }
  @include global__divMixin.basic__div(
    $height: 100px,
    $height-mobile: 50px,
    $width: 100%
  );

  .leftContainer {
    gap: 10%;
    @include global__divMixin.basic__div($width: 20%, $height: 100%);

    @include global__breakpointsMixin.breakpoint(small) {
      width: 40%;
      // fix
      height: auto;
    }

    .logoContainer {
      position: relative;
      @include global__divMixin.basic__div($width: 32px, $height: 32px);
    }
    .greetingContainer {
      @include global__divMixin.basic__div($width: auto);
    }
  }

  .mainContainer {
    justify-content: flex-end;
    gap: 5%;
    @include global__divMixin.basic__div($width: 70%);
    .linksContainer {
      @include global__divMixin.basic__div($width: 70%);

      @include global__breakpointsMixin.breakpoint(small) {
        flex-direction: column;
      }
      gap: 10%;
      justify-content: end;
      @include global__divMixin.basic__div();
      position: relative;
      li {
        transition: all 0.3s ease-in-out;
        border-radius: 8px;
        @include global__divMixin.basic__div($width: auto);
        position: relative;
        a {
          @include global__divMixin.basic__div($width: auto);

          // &--active{
          //   text-decoration: underline solid variables.$base_background_color__dark;
          //   :global(html.dark) & {
          //     text-decoration: underline  variables.$base_background_color__light;
          //   }
          // }
        }

        //dropdown non-visible
        ul {
          position: absolute;
          top: calc(100% + 10px);
          left: 0;
          z-index: -10;
          opacity: 0;
          row-gap: 5%;
          flex-direction: column;
          align-items: start;
          padding: 5%;
          pointer-events: none;
          pointer-events: none;
          transition: all 0.3s ease-in-out;
          @include global__divMixin.basic__div($width: calc(100% + 50px),$height:auto );
          li {
            @include global__divMixin.basic__div($width: auto);
          }
        }

        &:hover {
          position: relative;
          background-color: variables.$base_background_color__light;
          color: variables.$base_color__light;
          border-radius: 8px;
          padding-left: 1%;
          padding-right: 1%;
          transition: all 0.3s ease-in-out;
          :global(html.dark) & {
            background-color: variables.$base_background_color__dark;
            color: variables.$base_color__dark;
          }
          //dropdown visible
          ul {
            position: absolute;
            left: 0%;
            z-index: 9999;
            row-gap: 5%;
            flex-direction: column;
            transform: translateY(-10px);
            align-items: stretch;
            padding: 5%;
            opacity: 1;
            pointer-events: all;
            transition: all 0.3s ease-in-out;

            background-color: variables.$base_background_color__dark;
            color: variables.$base_color__dark;

            :global(html.dark) & {
              background-color: variables.$base_background_color__light;
              color: variables.$base_color__light;
            }

            @include global__divMixin.basic__div(
              // $width: calc(100% + 50px),
              $width:auto,
              $height: auto
            );

            //items of dropdown
            li {
              border-radius: 8px;
              justify-content: start;
              transform: translateX(0);
              transition: transform 0.3s ease-in-out;
              line-break: anywhere;
              @include global__divMixin.basic__div($width: auto);

              &:hover {
                transform: translateX(2%);
                justify-content: center;

                transition: transform 0.3s ease-in-out;
                background-color: variables.$base_background_color__light;
                color: variables.$base_color__light;
                :global(html.dark) & {
                  background-color: variables.$base_background_color__dark;
                  color: variables.$base_color__dark;
                }
              }
            }
          }
        }
      }
    }
    .btnsContainer {
      gap: 5%;
      justify-content: center;

      button:nth-child(1) {
        border-width: 2px;
        border-style: solid;
        border-color: variables.$base_background_color__light;
        justify-content: start;
        :global(html.dark) & {
          border-color: variables.$base_background_color__dark;
        }
      }

      @include global__divMixin.basic__div($width: 20%, $width-mobile: 100%);
      @include global__breakpointsMixin.breakpoint(small) {
        flex-direction: column;
      }
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    // position: relative;
    // fix why work only with auto !!!!!!!!!!!!!!!!!!!!!!!!!!!!
    @include global__divMixin.basic__div($width: auto, $height: auto);
    .contentWrapper {
      flex-direction: column;
      position: absolute;
      z-index: 9999;
      right: 0;
      top: 100%;
      gap: 19px;
      justify-content: start;
      background-color: variables.$base_background_color__dark;

      @include global__divMixin.basic__div($width: 100%, $height: auto);

      :global(html.dark) & {
        background-color: variables.$base_background_color__light;
      }

      .linksContainer {
        flex-direction: column;
        row-gap: 24px;
        @include global__divMixin.basic__div($height: auto);
      }
      .btnsContainer {
          gap: 5%;
          justify-content: center;
    
          button:nth-child(1) {
            border-width: 2px;
            border-style: solid;
            border-color: variables.$base_background_color__light;
            justify-content: start;
            :global(html.dark) & {
              border-color: variables.$base_background_color__dark;
            }
            @include global__divMixin.basic__div($width: 30%,$height:30%);
          }
    
        flex-direction: column;
        @include global__divMixin.basic__div($height: auto);
      }
    }
  }

  @include global__breakpointsMixin.breakpoint(small) {
    .mainContainer {
      display: none;
    }
    .hamburger {
      display: flex;
    }
  }
}
