@use "@shared/styles/mixins/DivMixin" as global__divMixin;
@use "@shared/styles/Variables.scss" as variables;
@use "@shared/styles/mixins/BreakpointsMixin.scss" as global__breakpointsMixin;

.nav {
  padding: 33px 37px;
  justify-content: space-between;
  border-radius: 1.375rem;
  position: sticky;
  top: 0.5%;
  z-index: 9999;

  background-color: variables.$baseBackgroundColorDark;
  color: variables.$baseColorDark;
  :global(html.dark) & {
    background-color: variables.$baseBackgroundColorLight;
    color: variables.$baseColorLight;
  }

  .leftContainer {
    justify-content: space-evenly;

    @include global__divMixin.basic__div(
      $width: 10%,
      $height: 100%,
      $width-mobile: 120px,
      $height-mobile: auto
    );
    .logoContainer {
      position: relative;
      @include global__divMixin.basic__div($width: 40px, $height-mobile: 42px);
    }
    .greetingContainer {
      @include global__divMixin.basic__div($width-mobile: auto);
    }
  }

  .mainContainer {
    justify-content: flex-end;
    gap: 5%;

    .linksContainer {
      position: relative;
      gap: 10%;
      justify-content: end;

      li {
        transition: all 0.3s ease-in-out;
        border-radius:0.5rem;
        position: relative;

        a {
          justify-content: center;
          @include global__divMixin.basic__div($width: auto);
        }
        //dropdown non-visible
        ul {
          position: absolute;
          top: calc(100% + 10px);
          left: 0;
          z-index: -10;
          opacity: 0;
          row-gap: 5%;
          flex-direction: column;
          align-items: start;
          padding: 5%;
          pointer-events: none;
          pointer-events: none;
          transition: all 0.3s ease-in-out;
          @include global__divMixin.basic__div(
            $width: calc(100% + 50px),
            $height: auto
          );
          li {
            @include global__divMixin.basic__div($width: auto);
          }
        }
        &:hover {
          position: relative;
          background-color: variables.$baseBackgroundColorLight;
          color: variables.$baseColorLight;
          border-radius:0.5rem;
          padding-left: 1%;
          padding-right: 1%;
          transition: all 0.3s ease-in-out;
          :global(html.dark) & {
            background-color: variables.$baseBackgroundColorDark;
            color: variables.$baseColorDark;
          }
          //dropdown visible
          ul {
            position: absolute;
            left: 0%;
            z-index: 9999;
            row-gap: 5%;
            flex-direction: column;
            transform: translateY(-10px);
            align-items: stretch;
            padding: 5%;
            opacity: 1;
            pointer-events: all;
            transition: all 0.3s ease-in-out;
            border-radius: 0.5rem;

            background-color: variables.$baseBackgroundColorDark;
            color: variables.$baseColorDark;

            :global(html.dark) & {
              background-color: variables.$baseBackgroundColorLight;
              color: variables.$baseColorLight;
            }

            @include global__divMixin.basic__div($width: 15rem, $height: auto);

            //items of dropdown
            li {
              border-radius:0.5rem;
              justify-content: start;
              transform: translateX(0);
              transition: transform 0.3s ease-in-out;
              line-break: anywhere;

              @include global__divMixin.basic__div($width: auto);

              &:hover {
                transform: translateX(2%);
                justify-content: center;
                a {
                  width: 100%;
                }
                transition: transform 0.3s ease-in-out;
                background-color: variables.$baseBackgroundColorLight;
                color: variables.$baseColorLight;
                :global(html.dark) & {
                  background-color: variables.$baseBackgroundColorDark;
                  color: variables.$baseColorDark;
                }
              }
            }
          }
        }

        @include global__divMixin.basic__div($width: auto);
      }

      .activeLink {
        a {
          text-decoration: underline solid 0.1rem;
          text-underline-offset: 0.2rem;
          text-decoration-color: variables.$baseBackgroundColorLight;

          :global(html.dark) & {
            text-decoration-color: variables.$baseBackgroundColorDark;
          }
        }
      }

      @include global__divMixin.basic__div($width: 70%);
    }

    .btnsContainer {
      gap: 10%;
      justify-content: space-around;
      button {
        border-width: 2px;
        border-style: solid;
        border-color: variables.$baseBackgroundColorLight;
        justify-content: start;
        :global(html.dark) & {
          border-color: variables.$baseBackgroundColorDark;
        }
        justify-content: center;

        @include global__divMixin.basic__div(
          $width: 70px,
          $height: 100%,
          $width-mobile: 100%,
          $height-mobile: 70
        );
      }

      @include global__divMixin.basic__div($width: 20%);
    }

    @include global__divMixin.basic__div($width: 70%);
  }

  .hamburger {
    display: none;
    flex-direction: column;
    position: relative;
    @include global__divMixin.basic__div($width: auto, $height: auto);

    &Active {
      .content {
        border-radius: 1.375rem;
        position: absolute;
        padding: 1rem 0;
        top: 105%;
        right: 0;
        gap: 1.5rem;
        flex-direction: column;

        background-color: variables.$baseBackgroundColorDark;
        color: variables.$baseColorDark;

        :global(html.dark) & {
          background-color: variables.$baseBackgroundColorLight;
          color: variables.$baseColorLight;
        }

        @include global__divMixin.basic__div(
          $width-mobile: 100%,
          $height-mobile: auto
        );

        .linksContainer {
          flex-direction: column;
          row-gap: 24px;
          width: 100%;
          @include global__divMixin.basic__div(
            $width-mobile: 100%,
            $height-mobile: auto
          );
        }

        .btnsContainer {
          flex-direction: column;
          gap: 2%;
          button {
            width: 70px;
            border-width: 2px;
            border-style: solid;
            border-color: variables.$baseBackgroundColorLight;
            :global(html.dark) & {
              border-color: variables.$baseBackgroundColorDark;
            }
          }
          @include global__divMixin.basic__div(
            $width-mobile: 100%,
            $height-mobile: 4.5rem
          );
        }
      }
    }
  }

  @include global__divMixin.basic__div(
    $height: 100px,
    $height-mobile: 50px,
    $width: 100%
  );

  @include global__breakpointsMixin.breakpoint(small) {
    .mainContainer {
      display: none;
    }
    .hamburger {
      display: flex;
    }
  }
}
