@use "@shared/styles/mixins/DivMixin" as global__divMixin;
@use "@shared/styles/mixins/BtnMixin" as global__btnMixin;
@use "@shared/styles/Variables.scss" as variables;
.search {
  margin-top: 19px;
  border-radius: 22px;
  padding: 12px 16px;

  justify-content: space-between;

  background-color: variables.$baseBackgroundColorDark;
  color: variables.$baseColorDark;
  :global(html.dark) & {
    background-color: variables.$baseBackgroundColorLight;
    color: variables.$baseColorLight;
  }

  @include global__divMixin.basic__div(
    $height: 40px,
    $width: 30%,
    $width-mobile: 70%
  );

  input {
    justify-content: start;
    gap: 10%;
    @include global__divMixin.basic__div($width: 90%);
  }
  input:focus {
    outline: none;
  }
  .btnCon {
    button{
      background-color: inherit;
    }
    @include global__divMixin.basic__div($width: 10%);
  }
}
