@use "@shared/styles/mixins/BtnMixin" as global__btnMixin;
@use "@shared/styles/mixins/DivMixin.scss" as global__divMixin;
@use "@shared/styles/mixins/BreakpointsMixin.scss" as
  global__breakpointsMixin;
@use "@shared/styles/Variables.scss" as variables;

.button {
  background-color: variables.$base_background_color__dark;
  justify-content: start;
  position: relative;

  @include global__btnMixin.btn(
    $width: 50px,
    $height: 24px,
    $border-radius: 10px,
    $margin: 0,
    $width-mobile: 50px,
    $height-mobile: 24px
  );

  :global(html.dark) & {
    background-color: variables.$base_background_color__light;
  }

  .ball {
    border-radius: 50%;
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
    
    background-color: variables.$base_background_color__light;
    transform: translateX(100%);
    
    @include global__divMixin.basic__div($width: 45%, $height: 90%);

    // animation: active 1s ease-in-out 1 forwards;

    :global(html.dark) & {
      background-color: variables.$base_background_color__dark;
      transform: translateX(0%);
      // animation: anim 1s ease-in-out 1;
    }
  }
}
// @keyframes active {
//   from {
//     transform: translateX(0%);
//   }
//   to {
//     transform: translateX(100%);
//   }
// }
// @keyframes anim {
//   from {
//     transform: translateX(100%);
//   }
//   to {
//     transform: translateX(0%);
//   }
// }
