@use "@shared/styles/mixins/btn__mixins.scss" as global__btn_mixins;
@use "@shared/styles/mixins/div__mixin.scss" as global__div_mixins;
@use "@shared/styles/mixins/breakpoints__mixin.scss" as
  global__breakpoints-mixins;
@use "@shared/styles/Variables.scss" as variables;

.button {
  @include global__btn_mixins.btn(
    $width: 50px,
    $height: 24px,
    $border-radius: 10px,
    $margin: 0,
    $box-shadow: none,
    $width-mobile: 50px,
    $height-mobile: 24px
  );
  justify-content: start;
  position: relative;
  background-color: variables.$base_background_color__dark;
  :global(html.light) & {
    background-color: variables.$base_background_color__dark;
  }
  .ball {
    @include global__div_mixins.basic__div(
      $width: 45%,
      $height: 90%,
    );
    border-radius: 50%;
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
    transition: transform 1s ease-in-out;

    :global(html.light) & {
      background-color: variables.$base_background_color__light;
      transform: translateX(100%);
    }
    :global(html.dark) & {
      background-color: variables.$base_background_color__dark;
      transform: translateX(0);
    }
    // animation: ball_anim 2s ease-in-out 1 backwards ;
  }
  .active__ball {
    transform: translateX(100%);
  }
  .non__active__ball {
    transform: translateX(0);
  }
}
