@use "@shared/styles/mixins/DivMixin" as global__divMixin;
@use "@shared/styles/mixins/BreakpointsMixin" as global__breakpointsMixin;
@use "@shared/styles/Variables.scss" as variables;
.account {
  flex-direction: column;
  // replace in body
  padding: 0.5% 2%;
  row-gap: 19px;
  @include global__divMixin.basic__div($width: 100%, $height: 1000px);

  &__Content {
    align-items: start;
    justify-content: start;
    gap: 5%;
    @include global__divMixin.basic__div();
    &__ImgCon {
      border-radius: 17px;
      position: relative;
      overflow: hidden;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
      @include global__divMixin.basic__div($width: 280px, $height: 240px);
      img {
        object-fit: cover;
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.05);
          transition: transform 0.3s ease;
        }
      }
      
    }
    &__ProfileDataCon {
      align-items: start;
      justify-content: start;
      display: grid;
      gap: 5%;
      grid-gap: 24px 16px;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: repeat(3, auto);
      @include global__divMixin.basic__div($width: 100%, $height: auto);

      &__Item {
        flex-direction: column;
        align-items: start;
        justify-content: start;

        background-color: variables.$base_background_color__dark;
        color: variables.$base_color__dark;
        border-radius: 17px;
        padding: 1rem;
        transform: scale(1);
        transition: transform 0.3s ease-in-out;
        &:hover {
          transform: scale(1.08);
          transition: transform 0.3s ease-in-out;
        }
        input {
          background-color: variables.$base_input_background_color__light;
          color: variables.$base_color__light;
          &:disabled {
            opacity: 0.8;
            cursor: not-allowed;
          }
        }

        :global(html.dark) & {
          background-color: variables.$base_background_color__light;
          color: variables.$base_color__light;
          input {
            background-color: variables.$base_input_background_color__dark;
            color: variables.$base_color__light;
          }
        }
        @include global__divMixin.basic__div($width: 100%, $height: auto);
        label {
          justify-content: start;
          @include global__divMixin.basic__div($width: 100%, $height: 30%);
        }
      }
    }
  }
}
